@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap');
* {
  font-family: 'Inter';
}
footer {
  grid-column: 1 / 13;
  border-top: 2px solid #5ef2f2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.footer-navigation-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  grid-column: 2 / 5;
  list-style-type: none;
}
.footer-navigation-items li {
  display: inline;
}
.footer-navigation-items li a {
  padding: 14px 16px;
  color: #fdfdfd;
  font-weight: 500;
  text-decoration: none;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfdfd;
  grid-column: 7 / 12;
}
.contact-title {
  color: #5ef2f2;
}
.contact-email {
  margin: 0 48px;
}
