@import url('https://fonts.googleapis.com/css?family=Inter:400,600,700&display=swap');
body {
  background-color: #000000;
  font-family: 'Inter';
}

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  max-width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}